/*body {
	background-color: #f9f8f8;
	padding-top: 70px; 
	color: black;
	font-family: 'Roboto', sans-serif;
}*/

		
/*.panel-default>.panel-heading{
	background-color: #d8dfbb;
}

.panel-body{
	background-color: #f9f8f8;
}
.navbar-right{
	margin-right: 0px;
}

.navbar-default .navbar-brand{
	color: white;
}
.navbar-brand{
	padding: 20px 0px 0px 20px;
	font-style: bold;
	font-size: 25px;

}*/
/*
nav {
	background-color: #7b9c59;
	font-family: Apple Chancery, cursive;
}

input#submit{
	background-color: inherit;
	border: None;
}*/