{% extends "editor.html" %}
<!-- https://stackoverflow.com/questions/14942379/jquery-ui-autocomplete-how-to-allow-free-text-->
{% block header %}
{{ super() }}
<style>
#document_header {
    font-size: 150%;
}

#locations {
    margin-top: 5px;
}

.location-btn {
    background-color: Transparent;
    border: none;
}

.entrant-ctl {
    margin-right: 5px;
}

.reference-commands {
  margin-left: auto;
}

.referents-commands {
  margin-left: auto;
}

.hidden {
  display: none;
}

dl {
  width: 100%;
  margin-left: 3%;
  overflow: hidden;
  font-size: 90%;
}

dt {
  float:left;
  width: 30%;
}

dt::after {
  content: ": ";
}

dd {
  float: left;
  width: 70%;
}

th.rnt-id-col {
  width: 10%;
}

th.rnt-name-first-col {
  width: 20%;
}

th.rnt-name-last-col {
  width: 20%;
}

th.rnt-desc-col {
  width: 25%;
}

</style>

<script src="{{ url_for('static', filename='lib/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/tinymce/tinymce.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/editor/flowcontrol.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/editor/reference/reference.source.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/editor/reference/reference.display.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/editor/reference/reference.form.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/editor/reference/reference.app.js') }}"></script>

{% endblock %}

{% block content %}
<div class="container">
    <div id="reference_page" data-reference-id="{{ config.data.reference.reference_id }}">
        <div class="row">
            <div class='col-md-11'>
                <div class="row">
                  <div class="col-md-12">
                    <div id="reference_display" class="hidden">
                      <div class="row">
                        <h2 id="display_header_existing"></h2>
                      </div>
                      <div class="row">
                        <dl id="reference_display_data">
                          <template>
                            <div id="display_data" class="display-reference-data">
                              <dt class="display-field-name"></dt>
                              <dd class="display-field-value"></dd>
                            </div>
                          </template>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class='col-md-1'>
                <button id="edit_reference" class="btn btn-primary edit-reference">Edit</button>
            </div>
            <div id="reference_form" class="hidden">
                <form action="" method="">
                    <div class="alert alert-primary">
                        <strong>Please record information based on what is written in the document, rather than interpreting the text.</strong><br />
                        For example, if a location is identified as "Charles-Town" in the document, please preserve the spelling rather than modernizing to "Charleston."
                    </div>
                    <div class="form-group row">
                        <label for="reference_type_input">Type<br />
                            <em class="small">Enter the type of item within the document that you’re adding. Use the drop down menu to see a list of options.</em>
                        </label> 
                        <input class="form-control" id="reference_type_input"/>
                    </div>
                    <div class="form-group row">
                        <label for="natl_ctx_select">National Context<br />
                            <em class="small">Can be either a European nation or empire (e.g. Spanish, English, Dutch)</em>
                        </label>
                        <select class="form-control" id="natl_ctx_select">
                            {% for natl in config['national_contexts'] %}
                                <option val="{{ natl.id }}">{{ natl.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="colony_state_input">Colony/State<br />
                            <em class="small">If the item lists a state or colony, write it here. Use the drop down menu to see a list of options.<br/>
                            Please write out the full name&mdash;e.g. enter "Rhode Island", not "RI".</em>
                        </label>
                        <input class="form-control" type="text" id="colony_state_input"
                            data-location-type-id="{{ config.location_types['Colony/State'] }}"/>
                    </div>
                    <div class="form-group row">
                        <label for="city_input">Town<br />
                            <em class="small">If there is a town listed in the item, write the name of the town here. </em>
                        </label>
                        <input class="form-control" type="text" id="city_input"
                            data-location-type-id="{{ config.location_types['City'] }}"/>
                    </div>
                    <div class="form-group row">
                        <label for="locale_input">Locale<br />
                            <em class="small">If there are additional locations listed in the item, enter them here (e.g. “the dock”)</em>
                        </label>
                        <input class="form-control" type="text" id="locale_input"
                            data-location-type-id="{{ config.location_types['Locale'] }}"/>
                    </div>
                    <div class="row">
                        <div id="date_selector">
                        <label>Event Date<br />
                            <em class="small">Enter the date of the events described in the item, <strong>not</strong> the publication date of the containing document</em>
                        </label>
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="date_month">Month</label>
                                        <select id="date_month" class="form-control">
                                            {% for m in config['date']['months'] %}
                                                <option value="{{ m.value }}">{{ m.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="date_day">Day</label>
                                        <select id="date_day" class="form-control">
                                            {% for d in config['date']['days'] %}
                                                <option value="{{ d.value }}">{{ d.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="date_year">Year</label>
                                        <select id="date_year" class="form-control">
                                            {% for y in config['date']['years'] %}
                                                <option value="{{ y.value }}">{{ y.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="date_text">Additional Information</label>
                                        <input class="form-control" type="text" id="date_text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="transcription_input">Transcription<br />
                            <em class="small">Write the full text of the item in this field, as close as possible to the original (e.g. using original spelling, etc.)</em>
                        </label>
                        <br />
                        <textarea class="form-control" id="transcription_input"></textarea>
                    </div>
                    <div class="row">
                        <div class="reference-commands">
                            <button type="button" class="btn btn-warning discard-new-reference">Discard</button>
                            <button type="button" class="btn btn-warning cancel-edit-reference">Cancel</button>
                            <button type="button" class="btn btn-primary save-reference">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="referent_control">
                    <h3>People</h3>
                    <p id="empty_referent_display">None</p>
                    <table class="table">
                        <thead>
                            <tr>
                              <th class="rnt-id-col" scope="col">ID</th>
                              <th class="rnt-name-first-col" scope="col">First</th>
                              <th class="rnt-name-last-col" scope="col">Last</th>
                              <th class="rnt-desc-col" scope="col">Description</th>
                              <th class="rnt-controls-col" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="rnt_list">
                            <template>
                                <tr id="rnt_row" class="referent">
                                    <th class="rnt-id" scope="row"></th>
                                    <td class="rnt-first">
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td class="rnt-last">
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td class="rnt-indexes">
                                        <select>
                                            {% for i in config['index-terms'] %}
                                                <option value="{{ i.value }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td class="rnt-controls">
                                        <a class="btn btn-secondary go-rnt-details" href="">Details</a>
                                        <button class="btn btn-warning merge-rnt hidden">Merge</button>
                                        <button class="btn btn-primary edit-rnt">Edit</button>
                                        <button class="btn btn-secondary cancel-delete-rnt">
                                            <span class="fas fa-undo"></span>
                                        </button>
                                        <button class="btn btn-danger delete-rnt">
                                            <span class="fas fa-times-circle"></span>
                                        </button>
                                        <button class="btn btn-danger confirm-delete-rnt">
                                            <span>Confirm delete</span>
                                        </button>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="new_person_button" class="referents-commands">
                <button class="btn btn-primary" id="add-person">Add a person</button>&nbsp;&nbsp;
            </div>
        </div>
        <div id="config" hidden>
            <p id="csrf_token" data-csrf="{{ csrf_token() }}"></p>
            <ul id="data_endpoints">
            {% for ep, url in config['endpoints'].items() %}
                <li class="endpoint" data-name="{{ ep }}" data-url="{{ url }}"></li>
            {% endfor %}
            </ul>
            <p id="config_data_json" data-json='{{ config|tojson|safe }}'></p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script type="text/javascript">
    // https://api.jqueryui.com/autocomplete/
    let jqui_autocomplete_settings = {
        minLength: 1,
        delay: 10,
        autoFocus: true
    };
    // https://www.tiny.cloud/docs/
    let tinymce_settings = {
        menubar: false,
        toolbar: false,
        plugins: ['quickbars'],
        quickbars_selection_toolbar: 'bold italic underline',
        contextmenu: 'bold italic underline',
        width: '100%'
    }

    let config = new Config($('#config'));
    let source = new ReferenceSource($('#data_endpoints'), $('#csrf_token'));
    let ref_display = new ReferenceDisplay($('#reference_display'));
    let ref_form = new ReferenceForm($('#reference_form'));
    ref_form.configure(config,
        jqui_autocomplete_settings, tinymce_settings);

    let ref_app = new ReferenceApp($('#reference_page'), config, source,
        ref_display, ref_form);

    ref_display.setApp(ref_app);
    ref_form.setApp(ref_app);

</script>
{% endblock %}
