<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>DISA</title>
        {% endif %}

        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/fontawesome-free-5.1.1-web/css/all.min.css') }}"> -->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jquery-ui-themes-1.12.1/themes/base/jquery-ui.min.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/select2-dist/css/select2.min.css') }}">

        <style type="text/css">
            .navbar-nav > li{
              margin-right:30px;
            }
        </style>
        {% block header %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <a class="navbar-brand text-white" href="{{ url_for('browse') }}">Database of Indigenous Slavery in the Americas</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('person_index') }}">Index</a>
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('login') }}">login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <span class="navbar-text text-white">{{ current_user.email }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('editor_index') }}">editor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('logout') }}">logout</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% endwith %}
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='lib/jquery/jquery-3.3.1.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='lib/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap-4.1.2-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/fontawesome-free-5.1.1-web/js/all.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/select2-dist/js/select2.min.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>