<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>DISA</title>
        {% endif %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block header %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('browse') }}">Database of Indigenous Slavery in the Americas</a>
            </div> 
                {% if current_user.is_anonymous %}
                    <a class="btn btn-default navbar-btn navbar-text navbar-right" href="{{ url_for('login') }}">Login</a>
                {% else %}
                    <a class="btn btn-default navbar-btn navbar-text navbar-right" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>