<!DOCTYPE HTML>
<html>
<head>
	<title>Database of Indigenous Slavery in the Americas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	<link rel="stylesheet" 
	      href="{{ url_for('static', filename='lib/slickgrid/css/smoothness/jquery-ui-1.11.3.custom.css') }}" 
	      type="text/css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/slickgrid/slick.grid.css') }}" type="text/css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}" type="text/css"/>
</head>
<body>
	<header>
		<h1>Browse the Database</h1>
	</header>
	<div id="grid-container">
		<div id="myGrid" style="width:100%; height:100%;"></div>
	</div>
	<footer>
		
	</footer>
	<script src="{{ url_for('static', filename='lib/slickgrid/lib/firebugx.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/slickgrid/lib/jquery-1.11.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/slickgrid/lib/jquery-ui-1.11.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/slickgrid/lib/jquery.event.drag-2.3.0.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/slickgrid/slick.core.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/slickgrid/slick.dataview.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/slickgrid/slick.grid.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/granulated-sugar.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/browse/browse.js') }}"></script>
</body>
</html>
