{% extends "editor.html" %}

{% block content %}
	<div class="container">
		<h2>Your recent documents</h2>
        {% if user_documents %}
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Citation</th>
                  <th scope="col">Items</th>
                  <th scope="col">Edited</th>
                </tr>
            </thead>
            <tbody>
            {% for date, doc in user_documents %}
                <tr>
                    <th scope="row">{{ doc.id }}</th>
                    <td>
                        <a href="{{ url_for('edit_document', docId=doc.id) }}">{{ doc.citation }}</a>
                    </td>
                    <td>{{ doc.records|length }}</td>
                    <td>{{ date.strftime('%Y-%m-%d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else%}
        <p class='text-danger'>You have not comitted any changes to any documents</p>
        {% endif %}
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-primary" href="{{ url_for('edit_document') }}">New document</a>
        </div>
        <h2>All documents</h2>
		<table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Citation</th>
                  <th scope="col">Items</th>
                  <th scope="col">Edited</th>
                </tr>
            </thead>
            <tbody>
            {% for date, doc in documents %}
                <tr>
                    <th scope="row">{{ doc.id }}</th>
                    <td>
                        <a href="{{ url_for('edit_document', docId=doc.id) }}">{{ doc.citation }}</a>
                    </td>
                    <td>{{ doc.records|length }}</td>
                    <td>{{ date.strftime('%Y-%m-%d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}