{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 id="document_header"></h2>
    <form action="" method="">
        <!-- <input type="text" id="zotero" /> -->
        <div class="form-group row">
            <label for="citation">Citation</label>
            <textarea class="form-control" id="citation"></textarea>
        </div>
        <div class="form-group row">
            <label for="citation">Zotero ID</label>
            <input type="text" class="form-control" id="zotero" />
        </div>
        <div class="form-group row">
            <label for="document_type">Document type</label> 
            <select class="form-control" id="document_type">
            </select>
        </div>
        <div class="form-group row">
            <label for="document_date">Date</label>
            <input class="form-control" type="text" id="document_date" />
        </div>
        <div class="form-group row">
            <label for="acknowledgements">Acknowledgements</label>
            <textarea class="form-control" id="acknowledgements"></textarea>
        </div>
    </form>

    {% if doc %}
    <h2>Items</h2>
        <ul>
        {% for item in doc.records %}
            <li>Item {{ item.id }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}

{% block scripts%}
<script>
var getDocumentId = function () {
    var doc_id = "{{ doc.id or 'new' }}";
    return doc_id;
}

var setInputValues = function(docData) {
    if ( docData === {} ) {
        return;
    }
    $('#citation').text(docData['citation']);
    $('#zotero').val(docData['zotero']);
    $('#document_type').val(docData['doc_type_id']).attr('selected', true);
    $('#document_date').val(docData['date']);
    $('#acknowledgements').text(docData['acknowledgements']);
}

var addTypeOptions = function(opts) {
    var dtype_select = $('#document_type');
    for (var i = 0; i < opts.length; i++) {
        var opt = opts[i];
        var opt_elem = $("<option/>", { 'value': opt.id ,
                                        'text': opt.name });
        dtype_select.append(opt_elem);
    }
}

$( document ).ready(function() {
    var doc_data_api = '/data/documents/' + getDocumentId();
    $.get(doc_data_api, function(data) {
        addTypeOptions(data['doc_types']);
        setInputValues(data['doc']);
    });
    $( function() {
        $( "#document_date" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1492:2000"
        });
    } );
});
</script>
{% endblock %}