{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2>{{ document.citation }}</h2>
	<div id="pubinfo" style="width: calc(100% - 30px); margin-left: 30px;">
		<p>
			<label for="zotero" class="row-item">Zotero Id</label>
			<input type="text" value="{{ document.zotero_id }}" disabled><br>
		</p>
		<p>
			<label class="row-item">Document Type</label>
			<select>
				<option value="{{ document.document_type.id }}">{{ document.document_type.name }}</option>		
			</select>
		</p>
<!-- 		<p>
			<label>Location</label><br>
			<input type="text" placeholder="Havana" class="row-item">
			<span class="row-item">in</span>
			<span class="row-item">
				<select>
					<option>Spanish</option>
				</select>
				<select>
					<option>Cuba</option>
				</select>
			</span>
		</p> -->
		<div style="display: flex; align-items: center;">
			<div class="row-item">
				<label>Month</label><br>
				<select disabled>
					<option value="{{ document.date.month }}">{{ document.date.strftime("%B") }}</option>
				</select>				
			</div>
			<div class="row-item">				
				<label>Day</label><br>
				<input type="number" value="{{ document.date.day }}" disabled>
			</div>
			<div class="row-item">	
				<label>Year</label><br>
				<select disabled="">
					<option value="{{ document.date.year|century }}">{{ document.date.year|century }}</option>			
				</select>
				<select disabled>
					<option value="{{ document.date.year|decade }}">{{ document.date.year|decade }}</option>>
				</select>
				<select disabled>
					<option value="{{ document.date.year|year }}">{{ document.date.year|year }}</option>>
				</select>	
			</div>				
		</div>
		<p>
			<label>Citation</label><br>
			<textarea disabled>{{ document.citation }}</textarea>
		</p>
		<p>
			<label>Acknowledgements</label><br>
			<textarea disabled></textarea>
		</p>
		<a class="btn btn-primary" href="{{ url_for('show_document', docId = document.id, edit=True)}}">Edit document</a>
	</div>
	<h2>Records</h2>
	{% for record in document.records %}
	<p>
		<table>
			<tr>
				<td><h3>Record {{ record.id }}</h3></td>
				<td>{{ record.record_type.name }}</td>
				<td><a href="{{ url_for('show_record', docId = document.id, recId=record.id) }}">Review</a></td>
			</tr>
		</table>
		<table style="margin-left: 20px">
			{% for entrant in record.entrants %}
			<tr>
				<td><b>{% if entrant.first_name %} {{ entrant.first_name }} {{ entrant.last_name }} {% else %}
	        Unknown {% endif %}</b></td>
				{% for role in entrant.roles %}
				<td>{{ role.name }}</td>
				{% endfor %}
				<td><a href="{{ url_for('show_entrant', entId = entrant.id ) }}">Review</a></td>			
			</tr>
			{% endfor %}
		</table>
	</p>
	{% endfor %}
	<a class="btn btn-primary" href="{{ url_for('new_record', docId = document.id)}}">Add event</a>

</div>

{% endblock %}