{% extends "editor.html" %}

{% block header %}
{{ super() }}
<style>
#document_header {
    font-size: 150%;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div id="document_form">
        <h2 id="document_header"></h2>
        <form action="" method="">
            <div class="form-group row">
                <label for="citation">Citation<br />
                <em class="small text-muted">Enter the document citation according to Chicago Style, 17th edition</em></label>
                <textarea class="form-control" id="citation"  placeholder='Example: “Early American Newspapers, 1690-1922.” Readex, May 16, 2013. https://www.readex.com/content/early-american-newspapers-1690-1922.'></textarea>
            </div>
            <div class="form-group row" hidden>
                <label for="citation">Zotero ID</label>
                <input type="text" class="form-control" id="zotero" />
            </div>
            <div class="form-group row">
                <label for="document_type">Document type<br />
                    <em class="small text-muted">Select the document type that most clearly describes the document you're adding</em></label>
                <select class="form-control" id="document_type">
                </select>
            </div>
            <div class="form-group row">
                <label for="document_date">Document date<br />
                <em class="small text-muted">Enter the publication date of the document (e.g. the date of the publication of the newspaper and not the date of the article)</em></label>
                <input class="form-control" type="text" id="document_date" />
            </div>
            <div class="form-group row">
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments"></textarea>
            </div>
            <div class="form-group row">
                <label for="acknowledgements">Acknowledgements<br />
                <em class="small text-muted">If you've received the document from an individual or organization for the purposes of this project, please acknowledge their contribution (e.g. "Thank you to the Jennifer Shaw family")</em></label>
                <textarea class="form-control" id="acknowledgements"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="doc_update">Update</button>
        </form>
    </div>

    {% if doc %}
    <h2>Items</h2>
        {% if doc.references|length != 0 %}
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Item type</th>
                  <th scope="col">Edited</th>
                </tr>
            </thead>
            <tbody>
            {% for item in doc.references %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>
                        <a href="{{ url_for('edit_record', recId=item.id) }}">{{ item.reference_type.name }}</a>
                    </td>
                    <td>{{ item.last_edit().timestamp.strftime("%Y-%m-%d") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div id="new_document_button" class="d-flex flex-row-reverse">
            <a class="btn btn-primary" href="{{ url_for('edit_record', doc=doc.id) }}">Add an item</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
var getDocumentId = function () {
    var doc_id = "{{ doc.id or '' }}";
    return doc_id;
}

var setInputValues = function(docData) {
    if ( $.isEmptyObject(docData) ) {
        return;
    }
    $('#citation').text(docData['citation']);
    $('#zotero').val(docData['zotero_id']);
    $('#document_type').val(docData['document_type_id']).attr('selected', true);
    $('#document_date').val(docData['date']);
    $('#comments').text(docData['comments']);    
    $('#acknowledgements').text(docData['acknowledgements']);
}

var collectInputValues = function() {
    var data = {};
    data['citation'] = $('#citation').val();
    data['zotero_id'] = $('#zotero').val();
    data['document_type_id'] = Number($('#document_type').val());
    data['date'] = $('#document_date').val();
    data['comments'] = $('#comments').val();
    data['acknowledgements'] = $('#acknowledgements').val();
    return data;
}

var addTypeOptions = function(opts) {
    var dtype_select = $('#document_type');
    dtype_select.empty(); 
    for (var i = 0; i < opts.length; i++) {
        var opt = opts[i];
        var opt_elem = $("<option/>", { 'value': opt.id ,
                                        'text': opt.name });
        dtype_select.append(opt_elem);
    }
}

var setFormHeader = function (docData) {
    var header = $('#document_header');
    if ( $.isEmptyObject(docData) ) {
        header.text('Add a document');
        header.append(`<div style="font-size: 50%"><em>Fill out this form only when entering a document for the first time. 
            If your document has been already entered, find your document in the 
            <a href="/editor">recent document list</a> and add an item.</em></div>`);
        $('#doc_update').text('Create');
    } else {
        header.text(docData['citation']);
    }
}

var initializeForm = function (data) {
    setFormHeader(data['doc']);
    addTypeOptions(data['doc_types']);
    setInputValues(data['doc']);    
}

var readDocumentData = function(docId) {
    var doc_data_api = "{{ url_for('read_document_data', docId=None ) }}" + docId;
    $.get(doc_data_api, function(data) {
        initializeForm(data);
    });
}

var updateDocumentData = function(docId) {
    var doc_data_api = "{{ url_for('update_document_data', docId=None )}}" + docId;
    var data = collectInputValues();
    var method = (docId ? "PUT" : "POST");
    $.ajax({
        type: method,
        url: doc_data_api,
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
            if ( method === 'POST' ) {
                window.location.href = data.redirect;
            } else {
                initializeForm(data);
                $('#document_form').accordion('option','active', false );
            }
        }
    });
}

$( document ).ready(function() {
    var doc_id = getDocumentId();
    readDocumentData(doc_id);
    $( "#document_form" ).accordion({
        collapsible: true,
        header: "h2",
        active: (doc_id ? false : 0)
    });
    $( "#document_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1491:2000"
    });
    $( "#doc_update" ).on('click', function(e) {
          e.preventDefault();
         updateDocumentData(doc_id);
    });
});
</script>
{% endblock %}