{% extends "editor.html" %}

{% block header %}
{{ super() }}
<style>
#document_header {
    font-size: 150%;
}

#descriptors {
    margin-top: 5px;
}

.role-btn {
    background-color: Transparent;
    border: none;
}

label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

label.radio-inline {
    margin-top: 0;
    margin-right:0.5rem;
}

select {
    width: ;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class='col-md-11'>
            <h2 id="doc_header">{{ rec.document.citation }}</h2>
        </div>
        <div class='col-md-1'>
            <a href="{{ url_for('edit_record', recId=rec.id)}}">Back</a>
        </div>
    </div>
    <div id="entrant_form">
        <form action="" method="">
            <h2>Person</h2>
            <div class="form-group row">
                <div class="col-md-6 mb-3">
                    <label for="entrant_first_name">First</label>
                    <input class="form-control" type="text" id="entrant_first_name"/>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="entrant_last_name">Last</label> 
                    <input class="form-control" type="text" id="entrant_last_name"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="roles_enslaved">Is this an Enslaved Person?</label>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control" type="text" id="roles_enslaved">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
<!--             <div class="form-group row">
                <div class="col-md-4">
                    <label for="roles_autocomplete">Description</label>
                    <input class="form-control" type="text" id="roles_autocomplete" />
                </div>
                <div class="col-md-8">
                    <ul class="list-inline" id="descriptors">
                    </ul>
                </div>
            </div> -->
            <div class="form-group row">
                <div class="col-md-8">
                <label>Gender</label>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="radio-inline">
                              <input type="radio" name="entrant_gender" id="gender_male" value="male">
                              Male
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="entrant_gender" id="gender_female" value="female">
                              Female
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="entrant_gender" id="gender_other" value="other" checked>
                              Other/Unknown
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="entrant_description">
                <h3>Additional information</h3>
                <div class="form-group">
                    <div class="row">
                        <label for="entrant_age">Age</label>
                        <input class="form-control" type="text" id="entrant_age" />
                    </div>
                    <div class="row">
                        <label for="races_autocomplete">Race</label>
                        <input class="form-control" type="text" id="races_autocomplete" />
                    </div>
                    <div class="row">
                        <label for="tribes_autocomplete">Tribe</label>
                        <input class="form-control" type="text" id="tribes_autocomplete" />
                    </div>
                    <div class="row">
                        <label for="origins_autocomplete">Origin</label>
                        <input class="form-control" type="text" id="origins_autocomplete" />
                    </div>
                    <div class="row">
                        <label for="enslavements_autocomplete">Kind of Enslavement</label>
                        <input class="form-control" type="text" id="enslavements_autocomplete"/>
                    </div>
                    <div class="row">
                        <label for="titles_autocomplete">Title</label>
                        <input class="form-control" type="text" id="titles_autocomplete"/>
                    </div>
                    <div class="row">
                        <label for="vocations_autocomplete">Vocation</label>
                        <input class="form-control" type="text" id="vocations_autocomplete" />
                    </div>
                </div>
            </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" id="rec_update">Update</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
var addDescriptor = function ($descList, descData) {
    $new_role = makeRole(descData);
    $descList.append($new_role);
    return $descList;
}

var removeDescriptor = function (descId) {
    var $desc_list, $desc;

    $desc_list = $('#descriptors');
    $desc = $desc_list.find(`li[data-role-id='${descId}']`).last();
    $desc.remove();
}

var makeRole = function (data) {
    var $li, $span, $button,
        $icon;
    $li = $('<li/>', { 
        'class': 'entrant_role list-inline-item',
        'data-role-id': data.id });
    $span = $('<span/>', { 'text' : data.value,
                        'class': 'role-name' });
    $button = $('<button/>', { 'class': 'role-btn' });
    $icon = $('<span/>', { 'class': 'fas fa-times-circle' });

    $button.append($icon);
    $button.on('click', function(e) {
        e.preventDefault();
        removeDescriptor($li.attr('data-role-id'));
    })

    $li.append($span).append($button);
    return $li;
}
$( document ).ready(function() {
    $( "#entrant_description" ).accordion({
        collapsible: true,
        header: "h3",
        heightStyle: 'content',
        active: false
    });
    $('#roles_autocomplete').autocomplete({
        source: JSON.parse('{{ roles | tojson | safe}}'),
        minLength: 2,
        delay: 10,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function( event, ui ) {
            event.preventDefault()
            $("#roles_autocomplete").val(ui.item.value)
            addDescriptor($('#descriptors'), ui.item, true);
            $("#roles_autocomplete").val('');
            return false;
        }
    });
    $('#races_autocomplete').autocomplete({
        source: JSON.parse('{{ races | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            updateEntrantAttribute($('#races_autocomplete'), ui.item);
        }
    });
    $('#tribes_autocomplete').autocomplete({
        source: JSON.parse('{{ tribes | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            updateEntrantAttribute($('#tribes_autocomplete'), ui.item);
        }
    });
    $('#origins_autocomplete').autocomplete({
        source: JSON.parse('{{ origins | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            updateEntrantAttribute($('#origins_autocomplete'), ui.item);
        }
    });
    $('#enslavements_autocomplete').autocomplete({
        source: JSON.parse('{{ enslavements | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            updateEntrantAttribute($('#enslavements_autocomplete'), ui.item);
        }
    });
    $('#titles_autocomplete').autocomplete({
        source: JSON.parse('{{ titles | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            updateEntrantAttribute($('#titles_autocomplete'), ui.item);
        }
    });
    $('#vocations_autocomplete').autocomplete({
        source: JSON.parse('{{ vocations | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            updateEntrantAttribute($('#vocations_autocomplete'), ui.item);
        }
    });
 
});
</script>
{% endblock %}