{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>{{ record.document.citation }}</h2>
        <h2>{{ record.record_type.name }}</h2>
    <div class="form-page" id="person">
        <div class="header-footer">
            <h1>Add Person</h1>

        </div>
        <div class="form-body">
            <p>
                <h3>What does the document call this person?</h3>           
                <div style="display: flex;">
                    <div class="row-item">
                        {{ form.first_name.label }}
                        {{ form.first_name }}
                    </div>
                    <div class="row-item">
                        {{ form.last_name.label }}
                        {{ form.last_name }}
                    </div>
<!--                     <div>
                        <label>Name Type</label><br>
                        <select>
                            <option>Baptismal</option>
                            <option>Indigenous</option>
                            <option>English</option>
                            <option>European</option>
                            <option>Nickname</option>
                            <option>Alias</option>
                        </select>
                    </div> -->
                </div>
                <button>Add Name</button>
            </p>
            <br>
            <h3>What role does this person play in the context of the document?</h3>
            {{ form.role }}
            <br>
            
            <expansion-header>Identity</expansion-header>
            <collapsing-text>
                <p>
                {{ form.gender.label }}
                {% for radio in form.gender %}
                    {{ radio }}
                    {{ radio.label }}<br/>
                {% endfor %}
                </p>
                <p>             
                    {{ form.age.label }}<br/>
                    {{ form.age }}
                </p>
                <p>
                    {{ form.race.label }}<br/>
                    {{ form.race }}
                </p>
                
                <p>
                    {{ form.tribe.label }}<br/>
                    {{ form.tribe }}
                </p>
                
                <p>
                    {{ form.origin.label }}<br/>
                    {{ form.origin }}
                </p>
            </collapsing-text>

            <br>            

            <expansion-header>Position</expansion-header>
            <collapsing-text>
                <p>
                    <label>Status</label><br>
                    <select>
                        <option>Enslaved</option>
                        <option>Freed</option>
                        <option>Other</option>
                    </select>
                    <input type="text">             
                </p>
                
                <p>
                    {{ form.vocation.label }}
                    {{ form.vocation }}
                </p>
                <p>
                    {{ form.title.label }}
                    {{ form.title }}
                </p>        
                <p>
                    <label>Kind of Enslavement</label><br>
                    <select>
                        <option>Slave</option>
                        <option>Servant</option>
                        <option>Indentured Servant</option>
                        <option>Other</option>          
                    </select>
                    <input type="text">
                </p>
            </collapsing-text>
            <br>
            
<!--             <div class="annotation">
            The fields which start out expanded will be determined based on the type of record.
            </div>
                            
            <br>
            <p>
                <h3>Comments on this person</h3>
                <textarea style="width: 100%; height: 100px;"></textarea>
            </p> -->
        </div>      
        <div class="header-footer">
            <div class="buttons">
                <a href="#record" class="back"><button>Back</button></a>                
                <button>{{ form.submit() }}</button>
                <a href="#relations"><button>Next</button></a>
            </div>
        </div>
    </div>        
    </div>
    
{% endblock %}