{% extends "editor.html" %}

{% block header %}
{{ super() }}
<style>
#document_header {
    font-size: 150%;
}

#descriptors {
    margin-top: 5px;
}

.del-btn {
    background-color: Transparent;
    border: none;
    margin-left: 0.3em;
    cursor: pointer;
}

.attr-list {
    margin-top: 2em;
    margin-bottom: 0;
}

.attr-item {
    background-color: #DCDCDC;
    padding: 0.2em;
    border-radius: 5px;
    margin-top: 0.2em;
}

.attr-label {
    padding: 0.5em;
}

label {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

label.radio-inline {
    margin-top: 0;
    margin-right:0.5rem;
}

select {
    width: ;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class='col-md-11'>
            <h2 id="doc_header">{{ rec.document.citation }}</h2>
        </div>
        <div class='col-md-1'>
            <a href="{{ url_for('edit_record', recId=rec.id)}}">Back</a>
        </div>
    </div>
    <div id="entrant_form">
        <form action="" method="">
            <h2>Person</h2>
            <div id="names">
                <!-- <div class="row">
                    <div class="col-md-5">
                        <label for="entrant_first_name">First</label>
                        <input class="form-control" type="text" id="entrant_first_name"/>
                    </div>
                    <div class="col-md-5">
                        <label for="entrant_last_name">Last</label> 
                        <input class="form-control" type="text" id="entrant_last_name"/>
                    </div>
                    <div class="col-md-2">
                        <label>Name Type</label>
                        <select class="form-control" type="text">
                        </select>
                    </div>
                </div> -->
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="roles_enslaved">Is this an Enslaved Person?</label>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control" type="text" id="roles_enslaved">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
<!--             <div class="form-group row">
                <div class="col-md-4">
                    <label for="roles_autocomplete">Description</label>
                    <input class="form-control" type="text" id="roles_autocomplete" />
                </div>
                <div class="col-md-8">
                    <ul class="list-inline" id="descriptors">
                    </ul>
                </div>
            </div> -->
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="entrant_age">Age</label>
                    <input class="form-control" type="text" id="entrant_age" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8">
                <label>Gender</label>
                    <div class="row">
                        <div class="col-md-6" id="gender_select">
                            <label class="radio-inline">
                              <input type="radio" name="entrant_gender" id="gender_male" value="Male">
                              Male
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="entrant_gender" id="gender_female" value="Female">
                              Female
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="entrant_gender" id="gender_other" value="Other" checked>
                              Other/Unknown
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="entrant_description">
                <h3>Additional information</h3>
                <div class="form-group">
                    <div class="row">
                        <div class='col-md-6'>
                            <label for="races_autocomplete">Race</label>
                            <input class="form-control" type="text" id="races_autocomplete" />
                        </div>
                        <div class='col-md-6'>
                            <ul class="list-inline attr-list" id="races"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-6'>
                            <label for="tribes_autocomplete">Tribe</label>
                            <input class="form-control" type="text" id="tribes_autocomplete" />
                        </div>
                        <div class='col-md-6'>
                            <ul class="list-inline attr-list" id="tribes"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-6'>
                            <label for="origins_autocomplete">Origin</label>
                            <input class="form-control" type="text" id="origins_autocomplete" />
                        </div>
                        <div class='col-md-6'>
                            <ul class="list-inline attr-list" id="origins"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-6'>
                            <label for="enslavements_autocomplete">Kind of Enslavement</label>
                            <input class="form-control" type="text" id="enslavements_autocomplete"/>
                        </div>
                        <div class='col-md-6'>
                            <ul class="list-inline attr-list" id="enslavements"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-6'>
                            <label for="titles_autocomplete">Title</label>
                            <input class="form-control" type="text" id="titles_autocomplete"/>
                        </div>
                        <div class='col-md-6'>
                            <ul class="list-inline-item attr-list" id="titles"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-6'>
                            <label for="vocations_autocomplete">Vocation</label>
                            <input class="form-control" type="text" id="vocations_autocomplete" />
                        </div>
                        <div class='col-md-6'>
                            <ul class="list-inline attr-list" id="vocations"></ul>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class='col-md-6'>
                <button type="submit" class="btn btn-primary" id="rec_update">Update</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
var addDescriptor = function ($descList, descData) {
    $new_role = makeRole(descData);
    $descList.append($new_role);
    return $descList;
}

var removeDescriptor = function (descId) {
    var $desc_list, $desc;

    $desc_list = $('#descriptors');
    $desc = $desc_list.find(`li[data-role-id='${descId}']`).last();
    $desc.remove();
}

var makeRole = function (data) {
    var $li, $span, $button,
        $icon;
    $li = $('<li/>', { 
        'class': 'entrant_role list-inline-item',
        'data-role-id': data.id });
    $span = $('<span/>', { 'text' : data.value,
                        'class': 'role-name' });
    $button = $('<button/>', { 'class': 'role-btn' });
    $icon = $('<span/>', { 'class': 'fas fa-times-circle' });

    $button.append($icon);
    $button.on('click', function(e) {
        e.preventDefault();
        removeDescriptor($li.attr('data-role-id'));
    })

    $li.append($span).append($button);
    return $li;
}

var updateRadio = function($radioSelect, val) {
    var $radio_opt;
    $radio_opt = $radioSelect.find(`input:radio[value=${val}]`);
    if ( $radio_opt ) {
        $radio_opt.prop('checked', true);
    } else {
        return;
    }
}

var addTypeOptions = function(opts) {
    var rtype_select = $('#record_type');
    rtype_select.empty(); 
    for (var i = 0; i < opts.length; i++) {
        var opt = opts[i];
        var opt_elem = $("<option/>", { 'value': opt.id ,
                                        'text': opt.name });
        rtype_select.append(opt_elem);
    }
}

var makeNameInput = function($nameContainer, nameTypes) {
    var $row, $col_1, $col_2, $col_3,
        $label_1, $label_2, $label_3,
        $input_1, $input_2,
        $nametype_select;

    $row = $('<div/>', { 'class': 'row' });
    $col_1 = $('<div/>', { 'class': 'col-md-5' });
    $col_2 = $('<div/>', { 'class': 'col-md-5' });
    $col_3 = $('<div/>', { 'class': 'col-md-2' });
    $label_1 = $('<label/>', { 'text': 'First' });
    $label_2 = $('<label/>', { 'text': 'Last' });
    $label_3 = $('<label/>', { 'text': 'Name Type' });
    $input_1 = $('<input/>',
        { 'class': 'form-control', 'type': 'text' });
    $input_2 = $('<input/>',
        { 'class': 'form-control', 'type': 'text' });
    $nametype_select = $('<select/>',
        { 'class': 'form-control', 'type': 'text' });

    for (var i = 0; i < nameTypes.length; i++) {
        var opt = nameTypes[i];
        var $opt_elem = $("<option/>", { 'value': opt.id ,
                                        'text': opt.value });
        $nametype_select.append($opt_elem);
    }

    $col_1.append($label_1).append($input_1);
    $col_2.append($label_2).append($input_2);
    $col_3.append($label_3).append($nametype_select);
    $row.append($col_1).append($col_2).append($col_3);
    $nameContainer.append($row);

    return $nameContainer;
}

var updateEntrantAttribute = function($attList, attData, attGroup) {
    $new_attribute = makeAttribute($attList, attData, attGroup);
    $attList.append($new_attribute);
    return $attList;
}

var makeAttribute = function ($attList, data, attGroup) {
    var $li, $span, $button,
        $icon;
    const data_id_field = `data-${attGroup}-id`;
    $li = $('<li/>', { 
        'class': `entrant_${attGroup} list-inline-item attr-item`,
        });
    $li.attr(data_id_field, data.id);
    $span = $('<span/>', { 'text' : data.value,
                        'class': `${attGroup}-name attr-label` });
    $button = $('<button/>', { 'class': `del-btn` });
    $icon = $('<span/>', { 'class': 'fas fa-times-circle' });

    $button.append($icon);
    $button.on('click', function(e) {
        e.preventDefault();
        removeAttribute($attList,
            $li.attr(data_id_field), data_id_field);
    })

    $li.append($span).append($button);
    return $li;
}

var removeAttribute = function ($attList, dataId, dataIdField) {
    var $att;

    $att = $attList.find(`li[${dataIdField}='${dataId}']`).last();
    $att.remove();
}

var updateAttributeList = function ($attList, attArray, attGroup) {
    $attList.empty();
    for ( var i=0; i < attArray.length; i++ ) {
        var att_data = attArray[i];
        $attList = updateEntrantAttribute(
            $attList, att_data, attGroup);
    }
}

var initializeForm = function(entData) {
    if ( $.isEmptyObject(entData) ) {
        return;
    }
    $('#entrant_age').val(entData['age']);
    updateRadio($('#gender_select'), entData['sex']);
    updateAttributeList($('#races'), entData['races'], 'races');
    updateAttributeList($('#tribes'), entData['tribes'], 'tribes');
    updateAttributeList($('#origins'), entData['origins'], 'origins');
    updateAttributeList($('#titles'), entData['titles'], 'titles');
    updateAttributeList(
        $('#enslavements'), entData['enslavements'], 'enslavements');
    updateAttributeList(
        $('#vocations'), entData['vocations'], 'vocations');
}

var readEntrantData = function(entId) {
    var ent_data_api = "{{ url_for('read_entrant_data', entId=None ) }}" + entId;
    var out = null;
    $.get(ent_data_api, function(data) {
        initializeForm(data['ent']);
    });
}

var getEntId = function () {
    var ent_id = "{{ ent.id or '' }}";
    return ent_id;
}

$( document ).ready(function() {
    var ent_id = getEntId();
    var $names_div = makeNameInput(
        $('#names'), JSON.parse('{{ nametypes | tojson | safe}}'))
    $( "#entrant_description" ).accordion({
        collapsible: true,
        header: "h3",
        heightStyle: 'content',
        active: false
    });
    $('#roles_autocomplete').autocomplete({
        source: JSON.parse('{{ roles | tojson | safe}}'),
        minLength: 2,
        delay: 10,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function( event, ui ) {
            event.preventDefault();
            $("#roles_autocomplete").val(ui.item.value);
            addDescriptor($('#descriptors'), ui.item, true);
            $("#roles_autocomplete").val('');
            return false;
        }
    });
    $('#races_autocomplete').autocomplete({
        source: JSON.parse('{{ races | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            event.preventDefault()
            $("#races_autocomplete").val(ui.item.value);
            updateEntrantAttribute($('#races'), ui.item, 'races');
            $("#races_autocomplete").val('');
            return false;
        }
        // focus: function (event, ui) {
        //     return false;
        // },
        // change: function(event, ui) {
        //     if (ui.item == null) {
        //         ui.content.push({
        //             label: $(this).val(),
        //             value: $(this).val(),
        //             id: -1
        //         });
        //     }
        // }
    });
    $('#tribes_autocomplete').autocomplete({
        source: JSON.parse('{{ tribes | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            event.preventDefault()
            $("#tribes_autocomplete").val(ui.item.value);
            updateEntrantAttribute($('#tribes'), ui.item, 'tribes');
            $("#tribes_autocomplete").val('');
            return false;
        }
    });
    $('#origins_autocomplete').autocomplete({
        source: JSON.parse('{{ origins | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            event.preventDefault()
            $("#origins_autocomplete").val(ui.item.value);
            updateEntrantAttribute($('#origins'), ui.item, 'origins');
            $("#origins_autocomplete").val('');
            return false;
        }
    });
    $('#enslavements_autocomplete').autocomplete({
        source: JSON.parse('{{ enslavements | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            event.preventDefault()
            $("#enslavements_autocomplete").val(ui.item.value);
            updateEntrantAttribute(
                $('#enslavements'), ui.item, 'enslavements');
            $("#enslavements_autocomplete").val('');
            return false;
        }
    });
    $('#titles_autocomplete').autocomplete({
        source: JSON.parse('{{ titles | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            event.preventDefault()
            $("#titles_autocomplete").val(ui.item.value);
            updateEntrantAttribute($('#titles'), ui.item, 'titles');
            $("#titles_autocomplete").val('');
            return false;
        }
    });
    $('#vocations_autocomplete').autocomplete({
        source: JSON.parse('{{ vocations | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            event.preventDefault()
            $("#vocations_autocomplete").val(ui.item.value);
            updateEntrantAttribute($('#vocations'), ui.item, 'vocations');
            $("#vocations_autocomplete").val('');
            return false;
        }
    });
    readEntrantData(ent_id);
});
</script>
{% endblock %}