{% extends "base.html" %}

{% block content %}
<div class="container">
	<legend>
		<div class='form-group row'>
			<label class="col-sm-2 col-form-label">Record for:</label>
			<a href="{{ url_for('show_entrant', entId=entrant.id)}}">
			<label class="col-sm-10">
			{% if entrant.first_name or entrant.last_name %}
				{% if entrant.first_name %}
					<span>{{ entrant.first_name }}</span>
				{% endif %}
				{% if entrant.last_name %}
					<span>{{ entrant.last_name }}</span>
				{% endif %}
			{% else %}
				<span>Unknown</span>
			{% endif %}
			</label>
			</a>
			<label class="col-sm-2 col-form-label">In:</label>
			<label class="col-sm-10">
				<a href="{{ url_for('show_document', docId=entrant.record.document.id)}}">{{ entrant.record.document.citation}}</a>
				<a href="{{ url_for('show_record', recId=entrant.record.id)}}">{{ entrant.record.record_type.name }}</a>
		</div>
	</legend>

	{% if entrant.owners %}
		<h4>Owners</h4>
		<ul>
			{% for other in entrant.owners %}
				<li><span>{{ other.first_name }}</span><span>{{ other.last_name }}</span></li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if entrant.parents %}
		<h4>Parents</h4>
		<ul>
			{% for other in entrant.parents %}
				<li><span>{{ other.first_name }}</span><span>{{ other.last_name }}</span></li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if entrant.spouses %}
		<h4>Spouses</h4>
		<ul>
			{% for other in entrant.spouses %}
				<li><span>{{ other.first_name }}</span><span>{{ other.last_name }}</span></li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if form is defined %}
		<form action="" method="post">
	            {{ form.entrant }}
	            <p>
	                <dt>{{ form.other.label }}</dt>
	                    <dd>{{ form.other }}</dd>
					<dt>{{ form.related_as.label }}</dt>
	                    <dd>{{ form.related_as }}</dd>
	            </p>
	            <button class="btn btn-primary">{{ form.submit() }}</button>
	    </form>
	{% else %}
		<a class="btn btn-primary" href="{{ url_for('add_entrant_relationships', entId=entrant.id) }}">Button</a>
	{% endif %}

</div>

{% endblock %}