{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Person for {{ record.citation }}</h3>
        </div>
        
        <form action="" method="post">
            <div>
                <dt>{{ form.first_name.label }}</dt>
                    <dd>{{ form.first_name(size=32) }}</dd>
                <dt>{{ form.last_name.label }}</dt>
                    <dd>{{ form.last_name(size=32) }}</dd>
            </div>
            <div>
                {{ form.roles.label }}
                {{ form.roles }}
<!--                 <button class="btn btn-secondary add-field" type="button">Add role</button> -->
            </div>
            <button class="btn btn-primary">{{ form.submit() }}</button>
        </form>
        
    </div>
    
{% endblock %}