{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>{{ role }} for {{ record.rectype }}</h3>
        </div>
        
        <form action="" method="post">
            <div>
                {% for field in form  %}
                    {% if field.widget.input_type != 'hidden' and field.widget.input_type != 'submit' %} <dt>{{ field.label }}</dt><dd>{{ field(size=32) }}</dd> {% endif %}
                    
                {% endfor %}
            </div>
            <button class="btn btn-primary">{{ form.submit() }}</button>
        </form>
        
    </div>
    
{% endblock %}