{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-4.1.2-dist/css/bootstrap.min.css') }}">
<style>
.location:after {
  content: ", ";
}
.location:last-child:after {
  content: "";
}
.table caption {
  caption-side: top;
}
.relations {
  list-style-type: none;
}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div>
    <h2>{{ name }}</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
    <dl>
      <dt>Origin</dt>
      <dd>{{ origins }}</dd>
      <dt>Tribe</dt>
      <dd>{{ tribes }}</dd>
      <dt>Race</dt>
      <dd>{{ races }}</dd>
    </dl>
    </div>
    <div class="col-md-2">
    <dl> 
      <dt>Status</dt>
      <dd>{{ statuses }}</dd> 
      <dt>Title</dt>
      <dd>{{ titles }}</dd>
      <dt>Vocation</dt>
      <dd>{{ vocations }}</dd> 
    </dl>
    </div>
    <div class="col-md-4">
      <table class="table relations">
        <caption>Relations</caption>
        <tbody id="refs">
          {% for rel in relations %}
          <tr>
            <td>{{ rel.type }}</td>
            <td>
              <ul class="relations">
                {% for person in rel.related %}
                <li>
                  <a href="{{ url_for('get_person', persId=person.id) }}">{{ person.name }}</a>
                </li>
                {% endfor%}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-4">
      <table class="table timeline">
        <caption>Timeline</caption>
        <tbody id="refs">
          {% for ref in refs %}
          <tr>
            <td>{{ ref.record.date.strftime('%Y %B %d') }}</td>
            <td>
            {% for role in ref.roles %}
              <span>{{ role.name }}</span>
            {% endfor %}
            </td>
            <td>
              {% for loc in ref.record.locations | reverse %}
              <span class="location">{{ loc.location.name }}</span>
              {% endfor %}
            </td>
            <td>
              <a href="{{ url_for('get_source', srcId=ref.record_id) }}">View source</a>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}