{% extends "editor.html" %}

{% block header %}
{{ super() }}
<style>
#document_header {
  font-size: 150%;
}

#locations {
  margin-top: 5px;
}

.location-btn {
  background-color: Transparent;
  border: none;
}

.entrant-ctl {
  margin-right: 5px;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class='col-md-11'>
      <h2 id="rec_header">Relationships</h2>
    </div>
    <div class='col-md-1'>
      <a href="{{ url_for('edit_record', recId=rec.id)}}">Back</a>
    </div>
  </div>
  <div id="entrant_component">
    <table class="table">
      <tbody id="entrants">
        {% for e in entrants %}
        <tr>
          <td>{{ e.display_name() }}</td>
          <td colspan="2">
            <table>
              {% for r in e.as_subject %}
              <tr>
                <td>
                  <select>
                    <option>{{ r.related_as.name }}</option>
                  </select>
                </td>
                <td>
                  <select>
                    <option>{{ r.obj.display_name() }}</option>
                  </select>
                </td>
              </tr>
              {% endfor %}
              </table>
              <a href="">Add</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}

  {% block scripts%}
  {{ super() }}
  <script>
  </script>
  {% endblock %}