{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div id="pubinfo" style="width: calc(100% - 30px); margin-left: 30px;">
        <h3>Add to {{ document.citation }}</h3>
        
        <form action="" method="post">
                <p>
                    {{ form.record_type.label }}
                    {{ form.record_type }}
                </p>
                <div style="display: flex; align-items: center;">
                    <div class="row-item">
                        {{ form.month.label }}<br/>
                        {{ form.month }}
                    </div>
                    <div class="row-item">
                        {{ form.day.label }}<br/>
                        {{ form.day }}
                    </div>
                    <div class="row-item">  
                        <label>Year</label><br/>
                        {{ form.century }}
                        {{ form.decade }}
                        {{ form.year }}
                    </div>
                </div>
                <p>
                    {{ form.citation.label }}
                    {{ form.citation }}
                </p>
                <p>
                    {{ form.comments.label }}
                    {{ form.comments }}
                </p>
            <a class="btn btn-danger" href="{{ url_for('show_document', docId=document.id) }}">Cancel</a>
            <button class="btn btn-primary">{{ form.submit() }}</button>
        </form>
        
    </div>
    
{% endblock %}