{% extends "editor.html" %}

{% block header %}
{{ super() }}
<style>
#document_header {
    font-size: 150%;
}

#locations {
    margin-top: 5px;
}

.del-btn {
    background-color: Transparent;
    border: none;
    margin-left: 0.3em;
    cursor: pointer;
}

.attr-list {
    margin-top: 2em;
    margin-bottom: 0;
}

.attr-item {
    background-color: #DCDCDC;
    padding: 0.2em;
    border-radius: 5px;
    margin-top: 0.2em;
}

.attr-label {
    padding: 0.5em;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class='col-md-11'>
            <h2 id="doc_header">{{ doc.citation }}</h2>
        </div>
        <div class='col-md-1'>
            <a href="{{ url_for('edit_document', docId=doc.id)}}">Back</a>
        </div>
    </div>
    <div id="record_form">
        <h2 id="record_header"></h2>
        <form action="" method="">
            <div class="form-group row">
                <label for="recordtype_autocomplete">Type</label> 
                <input class="form-control" data-rectype-id="" type="text" id="recordtype_autocomplete"/>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="location_autocomplete">Location</label>
                    <input class="form-control" type="text" id="location_autocomplete" />
                </div>
                <ul class="list-inline" id="locations">
                </ul>
            </div>
            <div class="form-group row">
                <label for="record_date">Date</label>
                <input class="form-control" type="text" id="record_date" />
            </div>
            <div class="form-group row">
                <label for="citation">Additional citation information</label>
                <textarea class="form-control" id="citation"></textarea>
            </div>
            <div class="form-group row">
                <label for="comments">Comments/Transcription</label>
                <textarea class="form-control" id="comments"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="rec_update">Update</button>
        </form>
    </div>
    {% if rec %}
    <h2>People</h2>
    <div id="entrants">
    </div>
        {% if rec.entrants|length != 0 %}
        <ul>
        {% for ent in rec.entrants %}
            <li><a href="{{ url_for('edit_entrant', rec=rec.id, entId=ent.id)}}">{{ ent.primary_name.first }} {{ent.primary_name.last}}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No individuals associated with this item</p>
        {% endif %}
        <div id="new_person_button" class="d-flex flex-row-reverse">
            <a class="btn btn-primary" href="{{ url_for('edit_entrant', rec=rec.id)}}">Add a person</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
var getDocumentId = function () {
    var doc_id = "{{ doc.id or '' }}";
    return doc_id;
}

var getRecId = function () {
    var rec_id = "{{ rec.id or '' }}";
    return rec_id;
}

var makeLocation = function (locData) {
    var $li, $span, $button,
        $icon;
    $li = $('<li/>', { 
        'class': 'record_location list-inline-item',
        'data-loc-id': locData.id });
    $span = $('<span/>', { 'text' : locData.value,
                        'class': 'loc-name' });
    $button = $('<button/>', { 'class': 'del-btn' });
    $icon = $('<span/>', { 'class': 'fas fa-times-circle' });

    $button.append($icon);
    $button.on('click', function(e) {
        e.preventDefault();
        removeLocation($li.attr('data-loc-id'));
    })

    $li.append($span).append($button);
    return $li;
}

var addLocationPointer = function ($loc) {
    var $ptr;

    $ptr = $('<span/>', {'text' : '>', 'class' :'loc-ptr'});
    $loc.append($ptr);
    return $loc;
}

var removeLocationPointer = function ($loc) {
    $loc.find('.loc-ptr').remove();
}

var addLocation = function ($locList, locData, last=false) {
    $new_loc = makeLocation(locData);
    if (last === true) {
        addLocationPointer($locList.children().last());
    }
    $locList.append($new_loc);
    return $locList;
}

var removeLocation = function (locId) {
    var $loc_list, $loc, $nxt_to_last;

    $loc_list = $('#locations');
    $loc = $loc_list.find(`li[data-loc-id='${locId}']`).last();
    if ($loc.siblings().length > 0) {
        if ( $loc.is(':last-child') ) {
            $nxt_to_last = $loc.prev();
            removeLocationPointer($nxt_to_last);
        }
    } 
    $loc.remove();
}

var updateLocationsList = function ($locList, locsArray) {
    $locList.empty();
    for ( var i=0; i < locsArray.length; i++ ) {
        var loc_data = locsArray[i];
        $locList = addLocation($locList, loc_data, true)
    }
}

var makeEntrantInput = function(entData) {
    var $row, $col_1, $col_2, $col_3,
        $label_1, $label_2, $label_3,
        $input_1, $input_2,
        $tag_list;

    $row = $('<div/>', { 'class': 'row' });
    $col_1 = $('<div/>', { 'class': 'col-md-4' });
    $col_2 = $('<div/>', { 'class': 'col-md-4' });
    $col_3 = $('<div/>', { 'class': 'col-md-3' });
    $label_1 = $('<label/>', {'text': 'First' });
    $label_2 = $('<label/>', { 'text': 'Last' });
    $input_1 = $('<input/>',
        { 'class': 'form-control', 'type': 'text',
            'value': entData['first'] });
    $input_2 = $('<input/>',
        { 'class': 'form-control', 'type': 'text',
            'value': entData['last'] });
    $tag_list = $('<ul/>',
        { 'class': 'list-inline attr-list' })

    for (var i = 0; i < entData.tags.length; i++) {
        var tag_data = entData.tags[i];
        var $li = makeTag($tag_list, tag_data);
        $tag_list.append($li);
    }

    $col_1.append($label_1).append($input_1);
    $col_2.append($label_2).append($input_2);
    $col_3.append($label_3).append($tag_list);
    $row.append($col_1).append($col_2).append($col_3);

    return $row;
}

var makeTag = function ($attList, data) {
    var $li, $span, $button,
        $icon;
    const data_id_field = `data-tag-id`;
    $li = $('<li/>', { 
        'class': `entrant_tag list-inline-item attr-item`,
        });
    $li.attr(data_id_field, data.id);
    $span = $('<span/>', { 'text' : data.value,
                        'class': `tag-name attr-label` });
    $button = $('<button/>', { 'class': `del-btn` });
    $icon = $('<span/>', { 'class': 'fas fa-times-circle' });

    $button.append($icon);
    $button.on('click', function(e) {
        e.preventDefault();
        removeAttribute($attList,
            $li.attr(data_id_field), data_id_field);
    })

    $li.append($span).append($button);
    return $li;
}

var removeAttribute = function ($attList, dataId, dataIdField) {
    var $att;

    $att = $attList.find(`li[${dataIdField}='${dataId}']`).last();
    $att.remove();
}

var updateAttributeList = function ($attList, attArray, attGroup) {
    $attList.empty();
    for ( var i=0; i < attArray.length; i++ ) {
        var att_data = attArray[i];
        $attList = updateEntrantAttribute(
            $attList, att_data, attGroup);
    }
}

var setInputValues = function(recData) {
    if ( $.isEmptyObject(recData) ) {
        return;
    }
    $('#citation').text(recData['citation']);;
    $('#record_date').val(recData['date']);
    $('#comments').text(recData['comments']);
    updateLocationsList($('#locations'), recData['locations']);
    updateRecordType($('#recordtype_autocomplete'), recData['record_type']);
}

var updateRecordType = function ($input, data) {
    if ( $.isEmptyObject(data) ) {
        $input.attr('data-rectype-id', '');
        $input.val = '';
    } else {
        $input.attr('data-rectype-id', data.id);
        $input.val(data.value);
    }
}

var collectLocations = function() {
    var locArray = [];
    $("#locations").children().each( function( idx ) {
        var locData = {}
        locData['id'] = Number( $(this).attr('data-loc-id') );
        var loc_name = $(this).find('.loc-name').text()
        locData['label'] = loc_name;
        locData['value'] = loc_name;
        locArray.push(locData);
    });
    return locArray;
}

var collectInputValues = function(docId) {
    var data = {};
    data['citation'] = $('#citation').val();
    data['comments'] = $('#comments').val();
    data['record_type'] =  { 
        'id': Number( $('#recordtype_autocomplete').attr('data-rectype-id') ),
        'value': $('#recordtype_autocomplete').val(),
        'label': $('#recordtype_autocomplete').val()
    }
    data['locations'] = collectLocations();
    data['date'] = $('#record_date').val();
    data['document_id'] = Number(docId);
    return data;
}

var addTypeOptions = function(opts) {
    var rtype_select = $('#record_type');
    rtype_select.empty(); 
    for (var i = 0; i < opts.length; i++) {
        var opt = opts[i];
        var opt_elem = $("<option/>", { 'value': opt.id ,
                                        'text': opt.name });
        rtype_select.append(opt_elem);
    }
}

var setFormHeader = function (recData) {
    var header, header_txt = '';

    header = $('#record_header');
    if ( $.isEmptyObject(recData) ) {
        header.text('Add new item');
        $('#rec_update').text('Create');
    } else {
        if (recData['citation'] !== '') {
            header_txt = recData['citation'] + ' ';
        }
        header.text(recData['header']);
    }
}

var addEntrantData = function(entJsonArray, $container) {
    for (var i = 0; i < entJsonArray.length; i++) {
        var ent = entJsonArray[i];
        var $row = makeEntrantInput(ent);
        $container.append($row);
    }
}

var initializeForm = function (data) {
    setFormHeader(data['rec']);
    setInputValues(data['rec']);
    addEntrantData(data['entrants'], $('#entrants'));    
}

var readRecordData = function(recId) {
    var rec_data_api = "{{ url_for('read_record_data', recId=None ) }}" + recId;
    var out = null;
    $.get(rec_data_api, function(data) {
        initializeForm(data);
    });
}

var updateRecordData = function(recId, docId) {
    var rec_data_api = "{{ url_for('update_record_data', recId=None )}}" + recId;
    var data = collectInputValues(docId);
    var method = (recId ? "PUT" : "POST");
    $.ajax({
        type: method,
        url: rec_data_api,
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
            if ( method === 'POST' ) {
                window.location.href = data.redirect;
            } else {
                initializeForm(data);
                $('#record_form').accordion('option','active', false );
            }
        }
    });
}

$( document ).ready(function() {
    var doc_id = getDocumentId();
    var rec_id = getRecId();
    $('#recordtype_autocomplete').autocomplete({
        source: JSON.parse('{{ rec_types | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function (event, ui) {
            updateRecordType($('#recordtype_autocomplete'), ui.item);
        }
    });
    $('#location_autocomplete').autocomplete({
        source: JSON.parse('{{ locs | tojson | safe}}'),
        minLength: 2,
        delay: 10,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: -1
                });
            }
        },
        select: function( event, ui ) {
            event.preventDefault()
            $("#location_autocomplete").val(ui.item.value)
            addLocation($('#locations'), ui.item, true);
            $("#location_autocomplete").val('');
            return false;
        }
    });
    $( "#record_form" ).accordion({
        collapsible: true,
        header: "h2",
        heightStyle: 'content',
        active: (rec_id ? false : 0)
    });
    $( "#record_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1491:2000"
    });
    $( "#rec_update" ).on('click', function(e) {
          e.preventDefault();
         updateRecordData(rec_id, doc_id);
    });
    readRecordData(rec_id);
});
</script>
{% endblock %}