{% extends "editor.html" %}

{% block header %}
{{ super() }}
<style>
#document_header {
    font-size: 150%;
}

#locations {
    margin-top: 5px;
}

.location-btn {
    background-color: Transparent;
    border: none;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 id="doc_header">{{ doc.citation }}</h2>
    <div id="record_form">
        <h2 id="record_header"></h2>
        <form action="" method="">
            <div class="form-group row">
                <label for="recordtype_autocomplete">Type</label> 
                <input class="form-control" type="text" id="recordtype_autocomplete"/>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="location_autocomplete">Location</label>
                    <input class="form-control" type="text" id="location_autocomplete" />
                </div>
                <ul class="list-inline" id="locations">
                </ul>
            </div>
            <div class="form-group row">
                <label for="record_date">Date</label>
                <input class="form-control" type="text" id="record_date" />
            </div>
            <div class="form-group row">
                <label for="citation">Additional citation information</label>
                <textarea class="form-control" id="citation"></textarea>
            </div>
            <div class="form-group row">
                <label for="comments">Comments/Transcription</label>
                <textarea class="form-control" id="comments"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="rec_update">Update</button>
        </form>
    </div>
    {% if rec %}
    <h2>People</h2>
        {% if rec.entrants|length != 0 %}
        <ul>
        {% for ent in rec.entrants %}
            <li>{{ ent.first_name }} {{ent.last_name}}</li>
        {% endfor %}
        </ul>            
        {% endif %}
        <div id="new_person_button" class="d-flex flex-row-reverse">
            <a class="btn btn-primary" href="">Add a person</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
var getRecId = function () {
    var rec_id = "{{ rec.id or '' }}";
    return rec_id;
}

var makeLocation = function (locData) {
    var $li, $span, $button,
        $icon;
    $li = $('<li/>', { 
        'class': 'record_location list-inline-item',
        'data-loc-id': locData.id });
    $span = $('<span/>', { 'text' : locData.value });
    $button = $('<button/>', { 'class': 'location-btn' });
    $icon = $('<span/>', { 'class': 'fas fa-times-circle' });

    $button.append($icon);
    $button.on('click', function(e) {
        e.preventDefault();
        removeLocation($li.attr('data-loc-id'));
    })

    $li.append($span).append($button);
    return $li;
}

var addLocationPointer = function ($loc) {
    var $ptr;

    $ptr = $('<span/>', {'text' : '>', 'class' :'loc-ptr'});
    $loc.append($ptr);
    return $loc;
}

var removeLocationPointer = function ($loc) {
    $loc.find('.loc-ptr').remove();
}

var addLocation = function ($locList, locData, last=false) {
    $new_loc = makeLocation(locData);
    if (last === true) {
        addLocationPointer($locList.children().last());
    }
    $locList.append($new_loc);
    return $locList;
}

var removeLocation = function (locId) {
    var $loc_list, $loc, $nxt_to_last;

    $loc_list = $('#locations');
    $loc = $loc_list.find(`li[data-loc-id='${locId}']`).last();
    if ($loc.siblings().length > 0) {
        if ( $loc.is(':last-child') ) {
            $nxt_to_last = $loc.prev();
            removeLocationPointer($nxt_to_last);
        }
    } 
    $loc.remove();
}

var updateLocationsList = function ($locList, locsArray) {
    for ( var i=0; i < locsArray.length-1; i++ ) {
        var loc_data = locsArray[i];
        $locList = addLocation($locList, loc_data, true)
    }
}

var setInputValues = function(recData) {
    if ( $.isEmptyObject(recData) ) {
        return;
    }
    $('#citation').text(recData['citation']);;
    $('#record_date').val(recData['date']);
    $('#comments').text(recData['comments']);
    updateLocationsList($('#locations'), recData['locations']);
    updateRecordType($('#recordtype_autocomplete'), recData['record_type']);
}

var updateRecordType = function ($input, data) {
    if ( $.isEmptyObject(data) ) {
        $input.attr('data-rectype-id', '');
        $input.val = '';
    } else {
        $input.attr('data-rectype-id', data.id);
        $input.val(data.value);
    }
}

var collectInputValues = function() {
    var data = {};
    data['citation'] = $('#citation').val();
    data['zotero_id'] = $('#zotero').val();
    data['document_type_id'] = Number($('#document_type').val());
    data['date'] = $('#document_date').val();
    data['acknowledgements'] = $('#acknowledgements').val();
    return data;
}

var addTypeOptions = function(opts) {
    var rtype_select = $('#record_type');
    rtype_select.empty(); 
    for (var i = 0; i < opts.length; i++) {
        var opt = opts[i];
        var opt_elem = $("<option/>", { 'value': opt.id ,
                                        'text': opt.name });
        rtype_select.append(opt_elem);
    }
}

var setFormHeader = function (recData) {
    var header, header_txt = '';

    header = $('#record_header');
    if ( $.isEmptyObject(recData) ) {
        header.text('Add new item');
        $('#rec_update').text('Create');
    } else {
        if (recData['citation'] !== '') {
            header_txt = recData['citation'] + ' ';
        }
        header.text(recData['header']);
    }
}

var initializeForm = function (data) {
    setFormHeader(data['rec']);
    setInputValues(data['rec']);    
}

var readRecordData = function(recId) {
    var rec_data_api = "{{ url_for('read_record_data', recId=None ) }}" + recId;
    var out = null;
    $.get(rec_data_api, function(data) {
        initializeForm(data);
    });
}

var updateRecordData = function(recId) {
    var rec_data_api = "{{ url_for('update_document_data', recId=None )}}" + recId;
    var data = collectInputValues();
    var method = (recId ? "PUT" : "POST");
    $.ajax({
        type: method,
        url: rec_data_api,
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
            if ( method === 'POST' ) {
                window.location.href = data.redirect;
            } else {
                initializeForm(data);
                $('#record_form').accordion('option','active', false );
            }
        }
    });
}

$( document ).ready(function() {
    var rec_id = getRecId();
    $('#recordtype_autocomplete').autocomplete({
        source: JSON.parse('{{ rec_types | tojson | safe}}'),
        minLength: 0,
        delay: 5,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: 0
                });
            }
        },
        select: function (event, ui) {
            updateRecordType($('#recordtype_autocomplete'), ui.item);
        }
    });
    $('#location_autocomplete').autocomplete({
        source: JSON.parse('{{ locs | tojson | safe}}'),
        minLength: 2,
        delay: 10,
        autoFocus: true,
        response: function (event, ui) {

            if (ui.content.length == 0) {
                ui.content.push({
                    label: $(this).val(),
                    value: $(this).val(),
                    id: 0
                });
            }
        },
        // https://stackoverflow.com/questions/14942379/jquery-ui-autocomplete-how-to-allow-free-text
        select: function( event, ui ) {
            event.preventDefault()
            $("#location_autocomplete").val(ui.item.value)
            addLocation($('#locations'), ui.item, true);
            $("#location_autocomplete").val('');
            return false;
        }
    });
    $( "#record_form" ).accordion({
        collapsible: true,
        header: "h2",
        heightStyle: 'content',
        active: (rec_id ? false : 0)
    });
    $( "#record_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1491:2000"
    });
    $( "#rec_update" ).on('click', function(e) {
          e.preventDefault();
         updateRecordData(rec_id);
    });
    readRecordData(rec_id);
});
</script>
{% endblock %}