{% extends "base.html" %}

{% block content %}
<div class="container">
	<legend>
		<div class='form-group row'>
			<label class="col-sm-3 col-form-label">Record Type:</label>
			<label class="col-sm-9">{{ record.record_type.name }}</label>
		</div>
	</legend>
	<div class='row'>
		<label class="col-sm-2 col-form-label">Date:</label>
		<label class="col-sm-10">{{ record.date }}</label>
	</div>
	<div class='row'>
		<label class="col-sm-2 col-form-label">Citation:</label>
		<label class="col-sm-10">{{ record.citation }}</label>
	</div>
	<div class='row'>
		<label class="col-sm-2 col-form-label">Comments:</label>
		<label class="col-sm-10">{{ record.comments }}</label>
	</div>
	<div>
    <h3>People</h3>
	    <ul>
	        {% for entrant in record.entrants %}
	        <li><span><a href="{{ url_for('show_entrant', entId = entrant.id ) }}">{% if entrant.first_name %} {{ entrant.first_name }} {{ entrant.last_name }} {% else %}
	        Unknown {% endif %}</a>  {% for role in entrant.roles %} {{ role.role }} {% endfor %}</span>
	        </li>
	        {% endfor %}
	    </ul>
	</div>
    <div>
        {% for role in unassigned_roles %}
            <a class="btn btn-primary" href="{{ url_for('new_entrant', recId = record.id, role=role.id)}}">Add {{ role.name }}</a>
        {% endfor %}
        <a class="btn btn-primary" href="{{ url_for('new_entrant', recId = record.id)}}">Add other person</a>
        
    </div>
    

</div>

</div>

{% endblock %}