{% extends "editor.html" %}

{% block header %}
{{ super() }}
<style>
.relationship-row:hover {
  background-color: #ffff99;
}

.rel-row-1 {
  background-color: lightgray;
}

.repeated {
  visibility: hidden;
}

.repeated.show-repeated {
  visibility: visible;
}

tfoot.rel-adder {
  border-top: 3px solid gray;
}

</style>

<script src="{{ url_for('static', filename='js/editor/editor.source.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/editor.relationships.adder.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/editor.relationships.store.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor/editor.relationships.mgmt.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class='col-md-11'>
      <h2 id="rec_header">Relationships</h2>
    </div>
    <div class='col-md-1'>
      <a href="{{ url_for('editor.edit_record', recId=sec.id)}}">Back</a>
    </div>
  </div>
  <table id="rel-mgmt" class="table">
    <tbody class="rel-store">
    </tbody>
    <tfoot class="rel-adder">
    </tfoot>
  </table>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
  $( function() { 
    var source = new DISASource("");
    var mgmt = new RelationshipMgmt({{ sec.id }}, source, $('#rel-mgmt'));
    source.registerApp('rel-mgmt', mgmt);
    mgmt.load();
  } );
</script>
{% endblock %}